<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                 ">

	<!--<bean class="com.baimi.express.common.spring.CustomerPropertyPlaceholderConfigurer">-->
		<!--<property name="locations">-->
			<!--<list>-->
				<!--<value>classpath*:config/*.properties</value>-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->

	<!--<context:property-placeholder location="classpath*:config/*.properties"/>-->
	<!--<context:component-scan base-package="com.baimi.*">-->
	 <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
	<!--</context:component-scan>-->
	<!--&lt;!&ndash;  <context:annotation-config />&ndash;&gt;-->
	<!---->
	<!--&lt;!&ndash; 使用注解配置切面 &ndash;&gt;  -->
    <!--<aop:aspectj-autoproxy></aop:aspectj-autoproxy>  -->
    <!---->
	<!--<import resource="classpath*:config/*.xml"/>-->
	<!--&lt;!&ndash; <import resource="classpath*:trade-context.xml"/> &ndash;&gt;-->

	<!--&lt;!&ndash; 定时任务注解 &ndash;&gt;-->
	<!--<task:annotation-driven />-->
</beans>

